@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Commissioner';
  background-color: #fafafa;
}

h1 {
  color: black;
  font-size: 29px;
  font-weight: 700px;
}

.header {
  width: 100%;
  height: 55vh;
  background-image: url("./images/image-hero-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
  height: 120px;
}

.header .nav-bar a {
  color: white;
  margin-left: 20px;
  font-weight: 500;
}

.container {
  z-index: 99999;
  padding: 30px;
  margin: -70px auto 0px auto;
  max-width: 750px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container img {
  margin-top: -60px;
}

.container h1 {
  padding-top: 30px;
}

p {
  line-height: 1.75em;
}

.sub {
  color: #7a7a7a;
  font-size: 16px;
}

.btns {
  padding: 60px 80px 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

.btns .bookmark {
  background-color: #F2F2F2;
  color: grey;
}

.btns button {
  font-family: 'Commissioner';
  border: none;
  background-color: #3cb4ac;
  color: white;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 16px;
}

.container-money {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  row-gap: 30px;
  max-width: 750px;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "a1 a2 a3" "b b b";
  background-color: white;
  margin: 25px auto 0px auto;
  padding: 30px;
  border-radius: 20px;
}

.container-money .amount {
  border-right: 1px solid lightgrey;
}

.container-money .amount h1 {
  font-size: 40px;
}

#a1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a1;
}

#a2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a2;
}

#a3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a3;
}

.bar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: b;
  background-color: #fafafa;
  height: 15px;
  border-radius: 10px;
  width: 100%;
}

.bar .progress {
  border-radius: 10px;
  z-index: 99999;
  width: 60%;
  height: 100%;
  background-color: #3cb4ac;
}

.container-about {
  margin: 25px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  max-width: 750px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

.card-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-holder .card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.card-holder .card .heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-holder .card .heading .days {
  font-weight: 700;
  font-size: 30px;
}

.card-holder .card .heading .days .left {
  font-weight: 300 !important;
}

.card-holder .card .heading button {
  font-family: 'Commissioner';
  border: none;
  background-color: #3cb4ac;
  color: white;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 16px;
}

.card-holder .card .heading h2 {
  color: black;
  font-size: 25px;
  font-weight: 700px;
}

.card-holder .card .heading .pledge {
  color: #3cb4ac;
}
/*# sourceMappingURL=styles.css.map */